.nav-background-none {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
}

.display-artist-pic {
  height: 40%;

  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.content-text {
  height: 60%;
  background: linear-gradient(180deg, rgb(65, 64, 64) 10%, rgb(19, 18, 18) 50%);
  font-size: smaller;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-font-size {
  height: 40vh;
  font-size: 0.8rem;
  line-height: 1.2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.artist-img-large {
  width: 100%;
  height: 200%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  filter: brightness(0.6);
}

#playing-gif {
  height: 54px;
  width: 32px;
  background: none;
  padding-right: 10px;
}

.artist-verified {
  position: relative;
  z-index: 1;
}
