html,
body {
  font-family: "GothamMedium";
}

body > main > div > div.album-picture > nav {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
}
.content {
  width: 100%;
  height: 100%;
}
.album-picture {
  width: 100%;
  height: 50%;
}
.album-picture-pic {
  object-fit: contain;
  position: absolute;
  height: 80%;
  z-index: 0;
  filter: brightness(0.6);
}

.album-songs {
  position: relative;
  z-index: 1;
  flex-direction: column-reverse;
  background: linear-gradient(180deg, rgb(65, 64, 64) 10%, rgb(19, 18, 18) 50%);
  width: 100%;
  height: 50%;
}

ol > li {
  font-size: 0.9rem;
}
